<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.fs.mapper.ApplyMapper">
	
	<select id="getrowid" resultType="String">
	select rowid from tbl_sequence where tid='F003'
	</select>
	
	<update id="setrowid">
	update tbl_sequence set rowid = #{rowid} where tid='F003'
	</update>
	
	<select id="getApplyList" resultType="ApplyVO">
	select * from tbl_apply where bid=#{bid} order by regdate
	</select>
	
	<insert id="insertApplyObj">
	insert into tbl_apply (aid, applicant, content, bid) values (#{aid},#{applicant},#{content},#{bid})
	</insert>
	
	<select id="getApplyObj" resultType="ApplyVO">
	select * from tbl_apply where aid=#{aid}
	</select>	
	
	<update id="modifyApply">
	update tbl_apply set content=#{content} where aid=#{aid}
	</update>
	
	<delete id="deleteApply">
	delete from tbl_apply where aid=#{aid}
	</delete>
	
	<delete id="deleteAllApply">
	delete from tbl_apply where bid=#{bid}
	</delete>
</mapper>