<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.fs.mapper.BoardMapper">
	<insert id="regist">
	insert into tbl_bbs(bid, title, content, writer, regdate, category, duedate, splace1, splace2, splace3, status) 
    values(#{bid}, #{title},#{content},#{writer},now(),#{category},#{duedate}, #{splace1}, #{splace2}, #{splace3}, #{status})
	</insert>
	
	<select id="getrowid" resultType="String">
	select rowid from tbl_sequence where tid='F001'
	</select>
	
	<update id="setrowid">
	update tbl_sequence set rowid = #{rowid} where tid='F001'
	</update>
	
	<select id="getList" resultType="ListObjVO">
	select * 
	from tbl_bbs b, tbl_file f 
	where b.bid=f.bid and ismain='y' 
	order by duedate asc, b.bid asc 
	limit #{i}, 12
	</select>
	
	<select id="getBoardVO" resultType="BoardVO">
	select * from tbl_bbs where bid=#{bid}
	</select>
</mapper>