<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.fs.mapper.UploadMapper">
	
	<select id="getrowid" resultType="String">
	select rowid from tbl_sequence where tid='F002'
	</select>
	
	<update id="setrowid">
	update tbl_sequence set rowid = #{rowid} where tid='F002'
	</update>
	
	<insert id="insertFile">
	insert into tbl_file (fid, route, bid, ismain) values (#{fid}, #{route}, #{bid}, #{ismain})
	</insert>
	
	<select id="getUploadList" resultType="UploadVO">
	select * from tbl_file where bid=#{bid} order by regdate
	</select>
	
</mapper>